
$formW: 300px;
$formH: 250px;

$mainH: 82%;

$productH: 67%;
$productInfoMargin: 18px 10px 20px 20px;
$productImageSection: 15px 15px 15px 0;

$mainTextSectionPosB: 37px;
$maintxtsection: 285px;

$footerLogoPosL: 180px;
$footerCtaPosition: 0px 15px 0px 0px; 

$signPosT: 107px;
$signH: 80px;

$inslaanScale: 0.8;
$inslaanTagBottom: 118px;
$inslaanTagLeft: 25px;
$inslaanPlusLeft: 14px;
$inslaanPlusTop: 100.5px;
$inslaanGratisTagLeft: 20px;
$inslaanGratisTagBottom: 68px;
$inslaanPriceLeft: 12px;
$inslaanPriceBottom: 55px;

$inslaanpricefontsize: 55pt;
$productpricecent: 30pt;

$halveprijsnumberfontsize: 178pt;
$halveprijssmallfontsize: 77px;
$halveprijssmalltop: 32px;
$halveprijssmallright: -80px;

$halveprijstagpaddingleft: 0px;
$halveprijstagleft: 216px;
$halveprijstagfontsizet: 49px;
$halveprijstagbottom: 200px;

$lifirstchildwidth: 222px;
$linthchildbottom: 1px;
$linthchildwidth: 190px;

$inslaanpluscharletterheight: 120px;
$inslaanhalveprijstransform :  scale(0.3);
$inslaanhalveprijstop: -30px; 

$stroketexthalvewebkittextstroke: 30px white;

$inslaanhalveprijsright: 40px; 
$stroketextletterspacing: 2px;

$footercontentheight: 18%;
$productimagesectionheight: 70.5%;
