
$formW: 320px;
$formH: 240px;

$mainH: 82%;

$productH: 67%;
$productInfoMargin: 18px 10px 20px 20px;
$productImageSection: 15px 15px 15px 0;

$mainTextSectionPosB: 30px;
$maintxtsection: 285px;

$footerLogoPosL: 196px;
$footerCtaPosition: 0px 15px 0px 0px;

$signPosT: 107px;
$signH: 80px;

$inslaanScale: 0.9;
$inslaanTagBottom: 108.5px;
$inslaanTagLeft: 23px;
$inslaanPlusLeft: 20px;
$inslaanPlusTop: 99px;
$inslaanGratisTagLeft: 26px;
$inslaanGratisTagBottom: 55px;
$inslaanPriceLeft: 17px;
$inslaanPriceBottom: 50px;

$inslaanpricefontsize: 48pt;
$productpricecent: 24pt;

$halveprijsnumberfontsize: 180pt;
$halveprijssmallfontsize: 77px;
$halveprijssmalltop: 32px;
$halveprijssmallright: -80px;

$halveprijstagpaddingleft: 0px;
$halveprijstagleft: 202px;
$halveprijstagfontsizet: 49px;
$halveprijstagbottom: 204px;

$lifirstchildwidth: 222px;
$linthchildbottom: 1px;
$linthchildwidth: 190px;

$inslaanpluscharletterheight: 120px;
$inslaanhalveprijstransform :  scale(0.3);
$inslaanhalveprijstop: -35px; 

$stroketexthalvewebkittextstroke: 30px white;

$inslaanhalveprijsright: 40px; 
$stroketextletterspacing: 2px;

$footercontentheight: 18%;
$productimagesectionheight: 69.5%;