
$formW: 336px;
$formH: 280px;

$mainH: 82%;

$productH: 65%;
$productInfoMargin: 22px 15px 25px 25px;
$productImageSection: 15px 15px 15px 0;

$mainTextSectionPosB: 39px;
$maintxtsection: 285px;

$footerLogoPosL: 212px;
$footerCtaPosition: 0px 15px 0px 0px; 

$signPosT: 115px;
$signH: 114px;

$inslaanScale: 1; 
$inslaanTagBottom: 129.5px;
$inslaanTagLeft: 34px;
$inslaanPlusLeft: 30px;
$inslaanPlusTop: 115.6px;
$inslaanGratisTagLeft: 36px;
$inslaanGratisTagBottom: 74.6px;
$inslaanPriceLeft: 28px;
$inslaanPriceBottom: 67px;

$inslaanpricefontsize: 48pt;
$productpricecent: 24pt;

$halveprijsnumberfontsize: 180pt;
$halveprijssmallfontsize: 77px;
$halveprijssmalltop: 32px;
$halveprijssmallright: -69px;

$halveprijstagpaddingleft: 0px;
$halveprijstagleft: 195px;
$halveprijstagfontsizet: 49px;
$halveprijstagbottom: 204px;

$lifirstchildwidth: 222px;
$linthchildbottom: 1px;
$linthchildwidth: 190px;

$inslaanpluscharletterheight: 120px;
$inslaanhalveprijstransform :  scale(0.3);
$inslaanhalveprijstop: -35px; 

$stroketexthalvewebkittextstroke: 30px white;

$inslaanhalveprijsright: 40px; 
$stroketextletterspacing: 2px;

$footercontentheight: 18%;
$productimagesectionheight: 71.5%;