$formW: 320px;
$formH: 100px;


$textOnePost: 3px;
$productImageSection: 5%;
$productImageSectionmarginright: 4%;
$productInfoMargin: 25px 0px 0px 18px;
$productNameFontSize: 9pt;

$productSubtitleFontSize: 6pt;
$productSubtitleLineHeight: 12px;
$productInfoMargin: 77px 0px 0px 1px;

$product50procentheight: 137px;
$product50procentleft: 317px;
$product50procentbottom: 10px;

$footerbestelarrowwidth: 6px;
$footerbestelarrowheight: 6px;
$footerbestelarrowmarginright: 1px;
$footerBestelBorderRadius: 1px;

$footerbestelspanfontsize: 5pt;
$footerbesteltop: 110px;
$footerbestelpadding: 0px 5px 0px 5px;

$mainimgsectionwidth: 365px;
$maintxtsectionheight: 24px;
$maintxtsectionwidth: 100%;

$maintxtfontsize: 0pt;

$footerbestelwidth : unset;
$footerbestelheight : 15px;

$footerbestelbottom : 6px;
$footerbestelleft : unset;

$footerimagebottom: 10px;
$footerimageheight: 10%;
$footerimageleft: 0%;

$productsectionwidth : 76.7%;

$productimagesectionwidth: 20%;
$productimagesectionheight: 90px;
$productimagesectionmargin: 5px;
$productinfowidth: 44%;

$producttitlemaxwidth: 100px;

$productinslaanproductinslaantop: 27px;
$productinslaanproductinslaanright: -8px;

$inslaanplusfontsize: 20pt;

$stroketextletterspacing: 2px;
$stroketextbeforewebkittextstroke: 4px white;

$inslaanpluscharletterspacing: 0px;
$inslaanpluscharletterfontsize: 17pt;
$inslaanpluscharlettertop: 2px;
$inslaanPlusRight: 9px;

$inslaangratistagwidth : 34px;
$inslaangratistagheight : 10px;
$inslaangratistagbottom : -8px;
$inslaangratistagfontsize : 6pt;
$inslaangratistagright: 2px;
$inslaanpriceleft: 0px;

$inslaantagtop : -5px;
$inslaantagwidth : 40px;
$inslaantagheight : 14px;
$inslaantagfontsize : 6pt;
$inslaanTagRight: 15px;

$inslaanpricebottom : 0px;
$inslaanpricebottomfontsize : 24pt;

$cloverScale: .9;
$cloverBottom: 10px;
$cloverRight: 10px;

$productpricecentfontsize: 13pt;
$productpricecentbottom: 4px;
$productpricecentfontright: 11px;

$producteurootjeimgwidth : 100%;
$producteurootjeimgheight : 55px;
$producteurootjeimgwidth : 30%;

$mainimgsectionmargintop: 0px;
$mainImgSectionPosition: unset;
$mainImgSectionRight: unset;

$mainimgwidth: 100%;
$mainimgheight: 100%;

$mainimgenddisplay: block;


$footercontentwidth : 23.3%;
$footercontentbottom : 0px;

$maintxttextalign : center;

$maintxtsection : 0px;

$halveprijsnumberfontsize: 75pt;
$halveprijssmallfontsize: 30px;
$halveprijssmalltop: 11px;
$halveprijssmallright: 3px;

$halveprijstagpaddingleft: 0px;
$halveprijstagleft: 73px;
$halveprijstagfontsizet: 23px;
$halveprijstagbottom: 93px;

$lifirstchildwidth: 95px;
$linthchildbottom: 1px;
$linthchildwidth: 85px;

$inslaanpluscharletterheight: 120px;
$inslaanhalveprijstransform :  scale(0.3);
$inslaanhalveprijstop: -45px; 

$stroketexthalvewebkittextstroke: 4px white;

$inslaanhalveprijsright: 16px; 

$imgwidth: 100%;

$producteurootjewidth: 20%;
$producteurootjeheight: 90px;

$inslaanplusBottom: 0px;
$inslaanpluswidth: 60px;
$inslaanplusheidght: 86px;

$productinslaanheight: 46px;
$inslaanpriceheight: 77px;