
$formW: 728px;
$formH: 90px;

$textOnePost: 11px;
$productImageSection: 5%;
$productImageSectionmarginright: 4%;
$productInfoMargin: 25px 0px 0px 18px;
$productNameFontSize: 15pt;

$productSubtitleFontSize: 8pt;
$productSubtitleLineHeight: 13px;
$productInfoMargin: 77px 0px 0px 1px;

$product50procentheight: 137px;
$product50procentleft: 317px;
$product50procentbottom: 10px;

$footerbestelarrowwidth: 15px;
$footerbestelarrowheight: 15px;
$footerbestelarrowmarginright: 6px;
$footerBestelBorderRadius: 3px;

$footerbestelspanfontsize: 11pt;
$footerbesteltop: 110px;
$footerbestelpadding: 5px 10px 5px 10px;

$mainimgsectionwidth: 365px;
$maintxtsectionheight: 15px;
$maintxtsectionwidth: 100%;

$maintxtfontsize: 0pt;

$footerbestelwidth : unset;
$footerbestelheight : unset;

$footerbestelbottom : 11px;
$footerbestelleft : 0;

$footerimagebottom: 11px;
$footerimageheight: 17%;
$footerimageleft: 0%;

$productsectionwidth : 76.7%;

$productimagesectionheight: 70px;
$productimagesectionwidth: 20%;
$productimagesectionmargin: 10px;
$productinfowidth: 50%;

$producttitlemaxwidth: 305px;

$productinslaanproductinslaantop: 0px;
$productinslaanproductinslaanright: 3px;

$inslaanplusfontsize: 42pt;

$stroketextletterspacing: 2px;
$stroketextbeforewebkittextstroke: 6px white;

$inslaanpluscharletterspacing: 0px;
$inslaanpluscharletterfontsize: 26pt;
$inslaanpluscharlettertop: 5px;

$inslaangratistagwidth : 55px;
$inslaangratistagheight : 18px;
$inslaangratistagbottom : -10px;
$inslaangratistagfontsize : 10pt;
$inslaangratistagright: 55px;
$inslaanpriceleft: 35px;

$inslaantagtop : -10px;
$inslaantagwidth : 75px;
$inslaantagheight : 17px;
$inslaantagfontsize : 10pt;
$inslaanTagRight: 23px;
$inslaanPlusRight: -32px;

$cloverScale: 1.1;
$cloverBottom: 10px;
$cloverRight: 54px;

$inslaanpricebottom : 0px;
$inslaanpricebottomfontsize : 40pt;

$productpricecentfontsize: 21pt;
$productpricecentbottom: 7px;
$productpricecentfontright: 14px;

$producteurootjeimgwidth : 100%;
$producteurootjeimgheight : 80px;
$producteurootjeimgwidth : 30%;

$mainimgsectionmargintop: -4px;
$mainImgSectionPosition: unset;
$mainImgSectionRight: unset;

$mainimgwidth: 100%;
$mainimgheight: 100%;

$mainimgenddisplay: block;

$footercontentwidth : 23.3%;
$footercontentbottom : 0px;

$maintxttextalign : center;

$maintxtsection : 0px;

$halveprijsnumberfontsize: 75pt;
$halveprijssmallfontsize: 30px;
$halveprijssmalltop: 11px;
$halveprijssmallright: 3px;

$halveprijstagpaddingleft: 0px;
$halveprijstagleft: 73px;
$halveprijstagfontsizet: 23px;
$halveprijstagbottom: 93px;

$lifirstchildwidth: 92px;
$linthchildbottom: 1px;
$linthchildwidth: 77px;

$inslaanpluscharletterheight: 120px;

$inslaanhalveprijstransform :  scale(.6);
$inslaanhalveprijstop: -17px;

$stroketexthalvewebkittextstroke: 6px white;

$inslaanhalveprijsright: 0px; 

$imgwidth: 70%;

$producteurootjewidth: 20%;
$producteurootjeheight: 70px;

$inslaanplusBottom: 0px;
$inslaanpluswidth: 120px;
$inslaanplusheidght: 86px;

$productinslaanheight: 85px;
$inslaanpriceheight: 77px;