
$formW: 970px;
$formH: 250px;

$textOnePost: 14px;
$productImageSection: 4%;
$productImageSectionmarginright: 4%;
$productInfoMargin: 25px 0px 0px 18px;
$productNameFontSize: 24pt;

$productSubtitleFontSize: 12pt;
$productSubtitleLineHeight: 19px;
$productInfoMargin: 77px 0px 0px 1px;

$product50procentheight: 137px;
$product50procentleft: 317px;
$product50procentbottom: 10px;

$footerbestelarrowwidth: 15px;
$footerbestelarrowheight: 15px;  
$footerbestelarrowmarginright: 6px;
$footerBestelBorderRadius: 3px;

$footerbestelspanfontsize: 11pt;
$footerbesteltop: 110px;

$mainimgsectionwidth: 100%;
$maintxtsectionheight: 50px;
$maintxtsectionwidth: 100%;

$maintxtfontsize: 0pt;

$footerbestelpadding :5px 10px 5px 10px;
$footerbestelwidth : unset;
$footerbestelheight : 20px;

$footerbestelbottom : 13px;
$footerbestelleft : unset;

$footerimagebottom: 24px;
$footerimageheight: 10%;
$footerimageleft: 0%;

$productsectionwidth : 76.7%;

$productimagesectionwidth: 30%;
$productimagesectionheight: 220px;
$productimagesectionmargin: 15px;
$productinfowidth: 45%;

$producttitlemaxwidth: 350px;

$productinslaanproductinslaantop: 47px;
$productinslaanproductinslaanright: 24px;

$inslaanplusfontsize: 73pt;

$stroketextletterspacing: -1px;
$stroketextbeforewebkittextstroke: 10px white;

$inslaanpluscharletterspacing: -9px;
$inslaanpluscharletterfontsize: 42pt;
$inslaanpluscharlettertop: 5px;

$inslaangratistagwidth : 80px;
$inslaangratistagheight : 19px;
$inslaangratistagbottom : -9px;
$inslaangratistagfontsize : 14pt;
$inslaangratistagright: 30px;

$inslaantagtop : -3px;
$inslaantagwidth : 115px;
$inslaantagheight : 28px;
$inslaantagfontsize : 17pt;
$inslaanTagRight: 50px;
$inslaanPlusRight: -47px;

$cloverScale: 1.6;
$cloverBottom: 77px;
$cloverRight: 110px;

$inslaanpricebottom : 0px;
$inslaanpricebottomfontsize : 73pt;
$inslaanpriceleft: 45px;

$productpricecentfontsize: 42pt;
$productpricecentbottom: 13px;
$productpricecentfontright: 24px;

$producteurootjeimgwidth : 100%;
$producteurootjeimgheight : 145px;
$producteurootjeimgwidth : 30%;

$mainimgsectionmargintop: 5px;
$mainImgSectionPosition: unset;
$mainImgSectionRight: unset;

$mainimgwidth: 100%;
$mainimgheight: 100%;

$mainimgenddisplay: block;

$footercontentwidth : 23.3%;
$footercontentbottom : 0px;

$maintxttextalign : center;

$maintxtsection : 0px;

$halveprijsnumberfontsize: 75pt;
$halveprijssmallfontsize: 30px;
$halveprijssmalltop: 11px;
$halveprijssmallright: 3px;

$halveprijstagpaddingleft: 0px;
$halveprijstagleft: 73px;
$halveprijstagfontsizet: 23px;
$halveprijstagbottom: 93px;

$lifirstchildwidth: 85px;
$linthchildbottom: 1px;
$linthchildwidth: 70px;

$inslaanpluscharletterheight: 120px;

$inslaanhalveprijstransform :  scale(1);
$inslaanhalveprijstop: 5px;

$stroketexthalvewebkittextstroke: 10px white;

$inslaanhalveprijsright: 0px; 

$imgwidth: 100%;

$producteurootjewidth: 20%;
$producteurootjeheight: 220px;

$inslaanplusBottom: 0px;
$inslaanpluswidth: 190px;
$inslaanplusheidght: 130px;

$productinslaanheight: 123px;
$inslaanpriceheight: 113px;